* {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
.header {
    background-color: rgb(0, 0, 20);
    position: fixed;
    width: 100%;
    
}
main {
    margin-top: 49px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;

}

.nav-item {
    list-style-type:none;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;

}

.nav-link:hover {
    font-size: 16px;
    text-decoration: underline;
}

.profile {
    padding: 20px 0;
    min-height: 250px;
    background: url("../../assets/img/bg_storm.jpg") center center/cover no-repeat;
}

.profile-wrapper {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    
}

.profile-img {
    display: block;
    height: 220px;
    width: 220px;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    border-radius: 100%;
    
}

.profile-summary {
    padding: 5px 0;
    margin-top: 30px;
    width: 450px;
    background: rgba(0,0,0, 0.3);
    border-radius: 15px;
}
.profile-title {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.profile-summary-divider {
    margin: 0 auto;
    margin-top: 5px;
    height: 2px;
    width: 50%;
    background-color:#ffffff;
}

.profile-subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
}

.profile-descr {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.courses {
    padding: 20px 0;
}

.courses-title {
    color: #222;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.courses-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.courses-img {
    display: block;
    width: 50px;
    height: 50px;
}

.courses-subtitle {
    margin-top: 10px;
    color: #1ca8c3;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.courses-list {
    margin-top: 15px;
}

.courses-item, .education-item, .languages-item {
    margin-bottom: 5px;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
}

.courses-link {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
}

.code {
    padding: 20px 0;
    background: url("../../assets/img/bg_programming.jpeg") center center/cover no-repeat;
}
.code-title,  .languages-title {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.code-example {
    margin: 0 auto;
    width: 400px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    background: rgba(0,0,0, 0.3);
    border-radius: 15px;
}
.code-span {
    color: #ff5656;
}
.code-span-green {
    color: #26d0f1;

}
.divider {
    margin-top: 5px;
    height: 3px;
    width: 85%;
    background-color:#202020;
}
.education {
    padding: 20px 0;
}

.education-title, .languages-title, .projects-title, .contact-title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #202020;


}
.education-list, .languages-list, .contact-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;   
}
.education-item, .languages-item, .contact-item {
    list-style-type: none;
    text-align: center;
    font-weight: 300;


}
.ed-img {
    height: 20px;
    margin-right: 5px;
    transform: translateY(30%);
    border-radius: 5px;
}

.languages {
    padding: 20px 0;
    background: url("../../assets/img/bg_language.jpg") center center/cover no-repeat;
}

.languages-title, .languages-item {
    color: #fff;
}

.projects {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.projects-link {
    margin-top: 20px;
    text-decoration: none;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    

}

.projects-img {
    height: 200px;
    margin-top: 10px;
}

.projects_wrapper {
    display: flex;
    flex-direction: column;


}

.contact {
    padding: 20px 0;
    /* background: url("../../assets/img/bg_language.jpg") center center/cover no-repeat; */
}

.contact-link {
    text-decoration: none;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    list-style-type: none;
}

.contact-item:hover {
    font-weight: 500;
}
.contact-link:hover {
    font-weight: 500;

}

footer {
    width: 100%;
    height: 30px;
    padding: 15px;
    background:#d8d5d5;
    
    
}

.footer-list {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.footer-item {
    color: #202020;
    padding: 5px;
    list-style-type: none;
}

.footer-link {
    color: #202020;
    text-align: center;
    text-decoration: none;
}

.footer-img {
    transform: translateY(20%);
}














